<header>
    <nav class="header-nav">

        <a class="header-title" href="/">实验选课</a>
        <ul>
            <li class="header-link"><a href="/labs">实验</a></li>
            <li class="header-link"><a href="/labs/new">添加实验</a></li>
            <li class="header-link"><a href="/students">学生</a></li>
            <li class="header-link"><a href="/students/new">添加学生</a></li>
        </ul>
    </nav>
</header>