<h2 class="page-header">编辑实验</h2>
<form action="/labs/<%= lab.id %>?_method=PUT" method="POST">
        <%- include('_form_fields') %>
        <a href="/labs/<%= lab.id %>">取消</a>
        <button type="submit">更新</button>
</form>