<h2 class="page-header">新实验</h2>
<form action="/labs" method="post">
        <%- include('_form_fields') %>
        <button class="btn"><a class="cancel" href="/labs">取消</a></button>
        <button class="btn" type="submit">添加</button>
</form>