<h2 class="page-header">最近添加</h2>
<div>
    <% students.forEach(student => { %>
        <a href="students/<%= student.id %>">
           
            <div>Students: <%= student.name %></div>
        </a>
    <% }) %>
</div>