<h2 class="page-header">搜索学生</h2>
<form action="/students" method="GET">
    <div>
        <label>姓名</label>
        <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>

    <button class="btn" type="submit">搜索</button>
</form>

