<h2 class="page-header">添加学生</h2>
<form action="/students" method="POST">
        <%- include('_form_fields') %>
        <button class="btn"><a class="cancel" href="/students">取消</a></button>
        <button class="btn" type="submit">添加</button>
</form>